<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div class="container">
        <div class="row">
            <div class="offset-md-2 col-md-8">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Component Username</label>
                    <input type="text" class="form-control" 
                    id="usernameTextField"
                    placeholder="Enter the username of the Components"
                    name="username" 
                    value="<%= component.username %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="nameTextField">Name</label>
                    <input type="text" class="form-control" 
                    id="nameTextField"
                    placeholder="Enter the Name of the Components"
                    name="name" 
                    value="<%= component.name %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="passwordTextField">Password</label>
                    <input type="password" class="form-control" 
                    id="passwordTextField"
                    placeholder="Enter the Password of the Components"
                    name="password" 
                    value="<%= component.password %>"
                    required>
                </div>


                <div action="mailto:someone@example.com" class="form-group">
                    <label for="emailTextField">Email</label>
                    <input type="text" class="form-control" 
                    id="emailTextField"
                    placeholder="Enter the Email of the Components"
                    name="email" 
                    value="<%= component.email %>"
                    required>
                </div>


                <div class="form-group">
                    <label for="cellphoneTextField">Cellphone</label>
                    <input type="text" class="form-control" 
                    id="cellphoneTextField"
                    placeholder="Enter the cellphone of the Components"
                    name="cellphone" 
                    value="<%= component.cellphone %>"
                    required>
                </div>

                <button class="btn btn-primary" type ="sumbit">
                    <i class="fas fa-edit"> Submit</i></button>

                    <a href="/book-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i>Cancel</a>
            </form>
        </div>

        </div>
</div>




<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>