<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-9">
            <h1><%= title %></h1>

            <% if(typeof displayName == 'string' && displayName) { %>
            <a href="/book-list/add" class="btn btn-primary" role="button">
            <i class="fas fa-plus-circle"></i> Add a Component</a>
            <% } %>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                <% if(typeof displayName == 'string' && displayName) { %>
                    <th class="text-center col-1">username</th>
                    <th class="text-center col-1">Name</th>
                    <th class="text-center col-1">password</th>
                    <th class="text-center col-4">email</th>
                    <th class="text-center col-2">cellphone</th>
                    <th class="text-center col-2"></th>
                    <th class="text-center col-2"></th>
                <% } else { %>
                    <th class="text-center col-1">username</th>
                    <th class="text-center col-1">Name</th>
                    <th class="text-center col-1">password</th>
                    <th class="text-center col-4">email</th>
                    <th class="text-center col-2">cellphone</th>
                <% } %>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < BookList.length; count++) { %>
                    <tr>
                        <% if(typeof displayName == 'string' && displayName) { %>
                            <td class="text-center col-1"><%= BookList[count].username %></td>
                            <td class="text-center col-1"><%= BookList[count].name %></td>
                            <td class="text-center col-1"><%= BookList[count].password %></td>
                            <td class="text-center col-4"><%= BookList[count].email %></td>
                            <td class="text-center col-2"><%= BookList[count].cellphone %></td>
                            <td class="text-center col-2">
                                <a href="/book-list/edit/<%= BookList[count]._id %>" class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Edit</a>
                            </td>
                            <td class="text-center col-2">
                                <a href="/book-list/delete/<%= BookList[count]._id %>" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Delete</a>
                            </td>
                        <% } else { %>
                            <td class="text-center col-1"><%= BookList[count].username %></td>
                            <td class="text-center col-1"><%= BookList[count].name %></td>
                            <td class="text-center col-1"><%= BookList[count].password %></td>
                            <td class="text-center col-4"><%= BookList[count].email %></td>
                            <td class="text-center col-2"><%= BookList[count].cellphone %></td>
                        <% } %>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>
  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  





